body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 10px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar {
    background-color: #08244c;
    color: white;
    font-size: 14px;
    padding: 10px 10px;
  }
  
  .topbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .topbar i {
    color: #fdd835;
    margin-right: 1px;
  }


.header {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #08244c;
}

.logo i {
    color: #fdd835;
    margin-right: 20px;

}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #08244c;
    font-weight: bold;
    transition: color 0.2s;
}

.nav a:hover {
    color: #fdd835;
}